
.mynav{
    width:100%;  
    margin: auto;
    margin-top: 10px;
    background: #ddd;
    border-radius: 5px;
    color:black;
    
}
.voso_logo{
    width: 10%;
 
}
.nav_margin{
    padding-right: 30px;
    color:blue; 
}
/* @media (max-width:400px) {
    .maynav{
        display:block;
    }
} */
