/* body{
    background-color: #ddd;
} */

.mynav{
    width:90%;  
    margin: auto;
    margin-top: 10px;
    background: #ddd;
    border-radius: 5px;
    color:black;
    overflow: hidden;
    
    
}
.voso_logo{
    width: 10%;
 
}
.nav_margin{
    padding-right: 30px;
    color:blue; 
}


@media (max-width: 767.98px){ 
.mynav{
    justify-content: flex-end;
}
}
